.layout-2-column {
    @include column;
    justify-content: center;
    gap: 64px;
    padding-bottom: 48px
} 

.footer-column {
    @include column;
    @include media-small-desktop {
        position: relative;
    }
    @include media-tablet {
        display: none;
    }
}

.footer-column_tablet {
    display: none;
    @include media-tablet {
        display: flex;
        justify-content: space-between;
    }
}
