.header {
    padding: 14px 0;
    padding-bottom: 397px;
    background: #000000;
    background-image: url(/assets/image/backgrounds/panda_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 83.47px;
    background-size: cover;
    @include media-small-desktop {
        background: #111115;
        background-image: url(/assets/image/backgrounds/panda_bg.jpg);
        background-repeat: no-repeat;
        background-position: -160px 83.47px;
        background-size: auto;
    }
    @include media-tablet {
        padding: 1px 0 335px;
        background: #111115;
        background-image: url(/assets/image/backgrounds/panda_bg.jpg);
        background-repeat: no-repeat;
        background-position: -300px 32px;
        background-size: cover;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 63px;
}