.header {
    padding: 14px 0;
    padding-bottom: 397px;
    background: #000000;
    background-image: url(/assets/image/backgrounds/panda_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 83.47px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 63px;
}