.amount-input__title {
    @include font ($size: 1.6rem, $weight: 400, $height: 2.2rem);
    color: #000000;
    margin: 0 0 10px;
}

.amount-input__background {
    display: flex;
    align-items: center;
    padding: 9px 30px;
    background: #404950;
    border-radius: 2px;
    margin-bottom: 12px;
}

.amount-input__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    height: 2px;
    background: #72828E;
}

.amount-input__radio {
    position: relative;
    height: 10px;
    width: 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    cursor: pointer;

    border-radius: 50%;
    border: none;

    background: #FFEE2E;
    &:checked {
        &::after {
            content: url(/assets/icons/donate-icons/roller_icon.svg);
            position: absolute;
            top: -15px;
            left: -15px;
        }
    }
}

.amount-price {
    display: flex;
    justify-content: space-between;
    gap: 58px;
    padding-bottom: 50px;
    >* {
        flex-basis: 72px;
        padding-left: 12px;
        background-image: url(/assets/icons/donate-icons/dollar.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
}

.price {
    @include font ($size: 2.6rem, $weight: 500, $height: 3.6rem);
    text-transform: uppercase;
    color: #333B41;
    margin: 0px;
    &:checked {
        color: #FE9013;
    }
}