.bg-menu-pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-pop-up {
    position: absolute;
    width: -webkit-fill-available;
    z-index: 1;
    background: #FFFFFF;
}

.menu-pop-up__warapper {
    padding: 20px 20px 40px;
}

.logo-x-icon-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}