.button {
    @include font ($size: 1.6rem, $height: 2.2rem);
    width: 298px;
    padding: 16px 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: $orange;
    color: $color-light;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    &_watch-online {
        margin-left: 167px;
        @include media-small-desktop {
            margin: 0 auto;
        }
        @include media-tablet {
            position: absolute;
            top: 245px;
            left: 20px;
        }
        @include media-mobile {
            display: none;
        }
    }
    &_watch-online_mobile {
        display: none;
        @include media-mobile {
            display: block;
            @include font ($size: 1.6rem, $height: 2.2rem);
            width: 298px;
            padding: 16px 0;
            border: none;
            text-align: center;
            text-transform: uppercase;
            background: $orange;
            color: $color-light;
            border-radius: 25px;
            display: block;
            margin: 0 auto 30px;
        }
    }
    &_feedback {
        border-radius: 5px;
        margin: 0px;
        @include media-tablet {
            width: 240px;
            margin: 0 auto;
        }
    }
    &_donate {
        border-radius: 5px;
        @include media-tablet {
            margin: 0px;
        }
    }
    &_subscribe {
        width: 129px;
        padding: 10px 39px;
        border: 1px solid #333B41;
        border-radius: 5px;
        background: #F1F3F2;
        color: #000000;
    }
    &:hover {
        background: #E47209;
    }
    &:active {
        background: $green;
    }
}

.button-control-position {
    position: absolute;
    left: -82px;
    top: 408px;
    @include media-small-desktop {
        top: 369px;
        left: 353px;
    }
    @include media-tablet {
        top: 349px;
        left: 245px;
    }
}

.button-control-line {
    display: flex;
    gap: 1198px;
    @include media-small-desktop {
        gap: 171px;
    }
    @include media-tablet {
        gap: 30px;
    }
}

.button-control {
    padding: 22px 22px;
    border-radius: 50%;
    border: none;
    background: $orange;
    &:hover {
        background: #E47209;
    }
    &:active {
        background: $green;
    }
}

.button_subscribe {
    width: 129px;
    padding: 10px 39px;
    border: 1px solid #333B41;
    border-radius: 5px;
    background: #F1F3F2;
    color: #000000;
    &:hover {
        background: #F1F3F2;
        color: #E47209;
        border: 1px solid #E47209;
    }
    &:active {
        color: #4B9200;
        border: 1px solid #4B9200;
    }
}