.button {
    @include font ($size: 1.6rem, $height: 2.2rem);
    width: 298px;
    padding: 16px 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: $orange;
    color: $color-light;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    &_watch-online {
        margin-left: 167px;
    }
    &_feedback {
        border-radius: 5px;
        margin: 0px;
    }
    &_donate {
        border-radius: 5px;
    }
    &_subscribe {
        width: 129px;
        padding: 10px 39px;
        border: 1px solid #333B41;
        border-radius: 5px;
        background: #F1F3F2;
        color: #000000;
    }
    &:hover {
        background: #E47209;
    }
    &:active {
        background: $green;
    }
}

.button-control {
    position: absolute;
        padding: 22px 22px;
        border-radius: 50%;
        border: none;
        background: $orange;
        &:hover {
            background: #E47209;
        }
        &:active {
            background: $green;
        }
        &_prew {
            top: 408px;
            left: 138px;
        }
        &_next {
            top: 408px;
            right: 138px;
        }
}