.step__border {
    background: $orange;
    padding: 1px;
    border-radius: 5px;
}

.step__icon {
    width: 168px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $color-light;
}

.step__caption {
    @include font ($size:1.6rem, $weight:400, $height: 2.2rem);
    width: 168px;
    margin: 30px 0 0;
    @include media-mobile {
        margin: 10px 0 0;
    }
}

.icon-next {
    padding-top: 62px;
    @include media-tablet {
        display: none;
    }
}

.social-media__link {
    width: 111px;
    height: 26px;
    background-repeat: no-repeat;
    @include media-tablet {
        width: 26px;
        height: 26px;
    }
    &.facebook-icon {
        background-image: url(/assets/icons/social-media/facebook_icon.svg);
        &:hover {
            background-image: url(/assets/icons/social-media/facebook_icon_hover.svg);
        }
    }
    &.facebook-icon_tablet {
        background-image: url(/assets/icons/social-media/facebook-icon-tablet.svg);
        &:active {
            background-image: url(/assets/icons/social-media/facebook-icon-tablet_hover.svg);
        }
    }
    &.twitter-icon {
        background-image: url(/assets/icons/social-media/twitter_icon.svg);
        &:hover {
            background-image: url(/assets/icons/social-media/twitter_icon_hover.svg);
        }
    }
    &.twitter-icon_tablet {
        background-image: url(/assets/icons/social-media/twitter-icon-tablet.svg);
        &:active {
            background-image: url(/assets/icons/social-media/twitter-icon-tablet_hover.svg);
        }
    }
    &.instagram-icon {
        background-image: url(/assets/icons/social-media/instagram_icon.svg);
        &:hover {
            background-image: url(/assets/icons/social-media/instagram_icon_hover.svg);
        }
    }
    &.instagram-icon_tablet {
        background-image: url(/assets/icons/social-media/instagram-icon-tablet.svg);
        &:active {
            background-image: url(/assets/icons/social-media/instagram-icon-tablet_hover.svg);
        }
    }
    &.you-tube-icon {
        background-image: url(/assets/icons/social-media/youtube_icon.svg);
        &:hover {
            background-image: url(/assets/icons/social-media/youtube_icon_hover.svg);
        }
    }
    &.you-tube-icon_tablet {
        background-image: url(/assets/icons/social-media/youtube-icon-tablet.svg);
        &:active {
            background-image: url(/assets/icons/social-media/youtube-icon-tablet_hover.svg);
        }
    }
}

.icon-next-position {
    display: none;
    @include media-tablet {
        display: flex;
        position: absolute;
        gap: 114.2px;
        top: -17px;
    }
    @include media-mobile {
        top: 300px;
        left: 77px;
        transform: rotate(90deg);
        gap: 166px;
    }
}