.logo {
    width: 82px;
    position: relative;
    text-decoration: none;
}

h1 {
    @include font ($size: 1.90145rem, $weight:400, $height: 2.3rem);
    margin: 0px;
    padding: 3.55px 4.75px;
    text-align: center;
    color: $color-light;
    border: 1.18841px solid #FFFFFF;
}

.logo__svg {
    position: absolute;
    left: 11.13px;
    top: 24.62px;
}