.range {
    display: flex;
    justify-content: center;
    padding-bottom: 31px;
    @include media-small-desktop {
      padding-bottom: 52px;
    }
    @include media-tablet {
      display: none;
    }
}

.range__border {
    width: 599px;
    position: relative;
    height: 8px;
    background: $pink_gradient;
    padding: 1px;
    border-radius: 5px;
    @include media-small-desktop {
      width: 390px;
    }
}

.thumb {
    position: absolute;
    margin: 0%;
    -webkit-appearance: none;
    appearance: none;
    width: 599px;
    height: 8px;
    border-radius: 5px;  
    background: #F5F7F6;
    outline: none;
    @include media-small-desktop {
      width: 390px;
    }
  }
  
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 115.19px;
    height: 8px;
    border-radius: 5px; 
    background: #FE9013;
    cursor: pointer;
    @include media-small-desktop {
      width: 75px;
    }
  }