.backstage {
    background-image: url(/assets/image/backgrounds/flower_foto1.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    @include media-small-desktop {
        background-image: none;
    }
    @include media-tablet {
        background-image: url(/assets/image/backgrounds/flower_foto_tablet.jpg);
    }
    @include media-mobile {
        background-image: url(/assets/image/backgrounds/flower_foto_mobile.jpg);
        background-position: right 38px;
    }
}

.backstage_wrapper {
    padding: 140px 0 180px;
    @include media-small-desktop {
        padding: 100px 30px 142px;
    }
    @include media-tablet {
        padding: 60px 20px 80px;
    }
    @include media-mobile {
        padding: 20px 10px 40px;
    }
}

.backstage-content {
    padding-left: 87px;
    @include media-small-desktop {
        padding-left: 31px;
    }
    @include media-tablet {
        padding: 0px;
        margin-right: 105px;
    }
    @include media-mobile {
        margin-right: 0px;
    }
}

.backstage-image {
    @include media-tablet {
        display: none;
    }
}

.backstage-content__title {
    @include font ($size: 4.8rem, $weight: 400, $height: 5.8rem);
    color: $black_blue;
    margin: 0 0 17px;
    @include media-mobile {
        @include font ($size:2.4rem, $weight: 400, $height: 2.9rem);
        margin: 0 0 10px;
    }
}

.backstage-content__subtitle {
    @include font ($size: 2.4rem, $weight: 400, $height: 2.9rem);
    color: $black_blue;
    margin: 54px 0 34px 0;
    @include media-tablet {
        margin: 30px 0 20px;
    }
    @include media-mobile {
        @include font ($size: 2.4rem, $weight: 400, $height: 2.9rem);
        margin: 20px 0 10px;
    }
}

.backstage-content__text {
    @include font ($size: 1.6rem, $weight: 400, $height: 2.2rem);
    color: $black_blue;
    margin: 0px;
    @include media-mobile {
        @include font ($size: 1.6rem, $weight: 400, $height: 2.1rem);
    }
}

