.header-copiright {
    @include font ($size: 1.6rem, $weight: 400, $height: 2.2rem);
    text-decoration: none;
    color: $color-light;
    &:hover {
        background: $orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
        @extend %transition;
    }
}