.header-navigation {
    display: none;
}

.navigation {
    @include font ($size: 1.6rem, $weight: 400, $height: 2.2rem);
    display: flex;
    gap: 58px;
    margin: 0px;
    list-style: none;
    padding: 0px;
    @include media-small-desktop {
        gap: 48px;
    }
}

.navigation__item {
    color: $color-light;
    text-decoration: none;
    &_inactive {
        background: $orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
        pointer-events: none;
    }
    &:hover {
        background: $orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
        @extend %transition;
    }
}

.footer-navigation {
    align-self: flex-end;
    padding: 0 32px 0 101px;
    @include media-small-desktop {
        position: absolute;
        left: 321px;
        padding: 0px;
    }
}