.pets {
    background-image: url(/assets/image/backgrounds/palm_foto.jpg), url(/assets/image/backgrounds/strelitzia\ 1.jpg);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    @include media-small-desktop {
        background-image: url(/assets/image/backgrounds/palm_foto-small-desktop.jpg), url(/assets/image/backgrounds/strelitzia\ 1\ small-desktop.jpg);
    }
    @include media-tablet {
        background-image: url(/assets/image/backgrounds/palm_foto-tablet.jpg), url(/assets/image/backgrounds/strelitzia\ 1-tablet.jpg);
    }
    @include media-mobile {
        background-image: url(/assets/image/backgrounds/palm_foto-mobile.jpg), url(/assets/image/backgrounds/strelitzia\ 1\ mobile.jpg);
    }
}

.wrapper__pets {
    position: relative;
    padding-bottom: 100px;
    @include media-small-desktop {
        padding: 0 0 140px;
    }
    @include media-tablet {
        overflow: hidden;
        padding: 0 20px 100px;
    }
    @include media-mobile {
        padding: 0 10px 60px;
    }
}

.pet__border {
    @include border-gradient ($color: $orange, $radius: 5px);
}

.pet__img {
    display: block;
    border-radius: 5px 5px 0 0;
    @include media-small-desktop {
        width: 294px;
        height: 294px;
    }
    @include media-tablet {
        width: 285px;
        height: 285px;
    }
}

.pet__description {
    padding: 8px 16px 14px;
    border-radius: 0 0 5px 5px;
    background: $color-light;
    &_herbivorous {
        background-image: url(/assets/icons/banana-bamboo_icon.svg);
        background-repeat: no-repeat;
        background-position: 321px 10px;
        @include media-small-desktop {
            background-position: 247px 8px;
        }
        @include media-tablet {
            background-position: 240px 8px;
        }
    }
    &_carnivorous {
        background-image: url(/assets/icons/meet-fish_icon.svg);
        background-repeat: no-repeat;
        background-position: 310px 10px;
        @include media-small-desktop {
            background-position: 237px 8px;
        }
        @include media-tablet {
            background-position: 230px 5px;
        }
    }
    @include media-tablet {
        padding: 6.24px 0 10.94px 12.47px;
    }
}

.pet__name {
    @include font ($size: 1.6rem, $height: 2.2rem);
    margin: 0px;
    @include media-tablet {
        @include font ($size: 1.24695rem, $height: 1.7rem, $weight: 500);
    }
}

.pet__native {
    @include font ($size: 1.5rem, $weight: 300, $height: 1.8rem);
    margin: 0px;
    @include media-tablet {
        @include font ($size: 1.16901rem, $height: 1.4rem, $weight: 300);
    }
}

.pets-mobile-slider {
    height: 1400px;
    overflow: scroll;
}