.pick-and-feed {
    background: $orange_gradient;
    opacity: 0.9;
    padding: 69px 0 100px;
    @include media-small-desktop {
        padding: 30px 30px 50px;
    }
    @include media-tablet {
        padding: 20px;
    }
}

.wrapper_pick-and-feed {
    background: $frosted_glass_white;
    border-radius: 20px;
    padding-bottom: 59px;
    @include media-small-desktop {
        width: 940px;
        padding: 0 0 50px;
    }
    @include media-tablet {
        padding: 0 0 60px;
    }
}

.pick-and-feed-content {
    padding: 41px 0 0 99px;
    @include media-small-desktop {
        padding: 30px 48px 0 49px;
    }
    @include media-tablet {
        padding: 10px 20px 0;
    }
}

.pick-and-feed__title {
    @include font ($size: 4.8rem, $weight: 400, $height: 5.8rem);
    text-align: center;
    margin: 0px;
    color: #FE9013;
    @include media-tablet {
        @include font ($size: 4.2rem, $weight: 400, $height: 5rem);
    }
}

.pick-and-feed__text {
    color: $black_blue;
    &_regular {
        @include font ($size: 2.4rem, $weight: 500, $height: 2.9rem);
        margin: 30px 0 40px;
        @include media-tablet {
            @include font ($size: 2.2rem, $weight: 400, $height: 2.6rem);
            margin: 20px 0 20px;
        }
    }
    &_medium {
        @include font ($size: 1.6rem, $weight: 500, $height: 2.1rem);
        margin: 0 0 10px;
    }
    &_simple {
        @include font ($size: 1.6rem, $weight: 500, $height: 2.1rem);
        margin: 0px;
        >* {
            color: $black_blue;
            text-decoration-color: #FE9013;
        }
    }
}

.pick-an-feed__subtitle {
    @include font ($size: 3.6rem, $weight:400, $height: 4.7rem);
    color: $black_blue;
    text-align: center;
    margin: 60px 0 40px;
    @include media-tablet {
        margin: 30px 0 20px;
    }
}

