.testimonials {
    padding-bottom: 180px;
    background-image: url(/assets/image/backgrounds/leav_foto.jpg);
    background-repeat: no-repeat;
    background-position: right 495px;
    @include media-small-desktop {
        padding-bottom: 140px;
        background-image: url(/assets/image/backgrounds/leav_foto-small-desktop.jpg);
        background-position: right 520px;
    }
    @include media-tablet {
        padding-bottom: 80px;
        background-image: url(/assets/image/backgrounds/leav_foto-tablet.jpg);
        background-position: right 630px;
    }
    @include media-mobile {
        padding-bottom: 60px;
        background-image: url(/assets/image/backgrounds/leav_foto-mobile.jpg);
        background-position: right 609px;
    }
}

.wrapper__testimonials {
    @include media-small-desktop {
        max-width: 940px;
    }
}

.testimonials__title {
    @include font ($size: 3.6rem, $weight: 400, $height: 4.7rem);
    margin: 140px 0 47px;
    color: $black_blue;
    text-align: center;
    @include media-small-desktop {
        margin: 100px 0 30px;
    }
    @include media-tablet {
        margin: 60px 0 30px;
    }
    @include media-mobile {
        @include font ($size: 2.4rem, $weight:400, $height: 2.9rem);
        margin: 30px 0 20px;
    }
}

.testimonial-slider {
    @include media-small-desktop {
        overflow: hidden;
    }
}

.testimonial__border {
    background: $pink_gradient;
    padding: 2px;
    border-radius: 20px;
}

.user {
    display: flex;
    gap: 10px;
    padding: 15px 0 10px;
    @include media-mobile {
        padding: 10px 0 6px;
    }
}

.testimonial__content {
    background: $light_gray;
    border-radius: 20px;
    padding: 0 15px 19px;
    @include media-tablet {
        padding: 0 29px 8px 12px;
    }
}

.user__icon {
    border-radius: 50%;
}

.user__name {
    @include font ($size: 1.6rem, $weight: 400, $height: 1.9rem);
    margin: 0px;
}

.user__location {
    @include font ($size: 1.5rem, $weight: 300, $height: 1.8rem);
    margin: 0px;
    color: #BDBDBD;
}

.testimonial__text {
    @include font ($size: 1.5rem, $weight: 300, $height: 1.8rem);
    height: 309px;
    margin: 0px;
    color: $gray;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    @include media-tablet {
        height: 38px;
        padding-left: 6px;
    }
}