.layout-2-column {
    @include column;
}

.layout-3-column {
    @include column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
    @include media-small-desktop {
        gap: 92px 20px;
        justify-content: center;
    }
}

.layout-5-column {
    @include column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 60px;
    @include media-small-desktop {
        padding-bottom: 70px
    }
}

.layout-4-column {
    @include column;
    gap: 30px;
    padding-bottom: 21px;
    >* {
        flex-basis: 23.1%;
    }
    @include media-small-desktop {
        width: max-content;
        justify-content: flex-start;
        >* {
            flex-basis: 293px;
        }
    }
}

.footer-column {
    @include column;
}
