.layout-2-column {
    @include column;
}

.layout-3-column {
    @include column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
    @include media-small-desktop {
        gap: 92px 20px;
    }
    @include media-tablet {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        gap: 92px 30px;
        padding-bottom: 60px;
    }
    @include media-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        padding-bottom: 0px
    }
}

.layout-5-column {
    @include column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 60px;
    @include media-small-desktop {
        padding-bottom: 70px
    }
    @include media-tablet {
        position: relative;
        padding-bottom: 40px
    }
    @include media-mobile {
        flex-direction: column;
        align-items: center;
    }
}

.layout-4-column {
    @include column;
    gap: 30px;
    padding-bottom: 21px;
    >* {
        flex-basis: 23.1%;
    }
    @include media-small-desktop {
        width: max-content;
        justify-content: flex-start;
        >* {
            flex-basis: 293px;
        }
    }
    @include media-tablet {
        flex-direction: column;
        width: auto;
        >* {
            flex-basis: auto;
        }
        gap: 15px;
        padding-bottom: 40px;
    }
    @include media-mobile {
        padding-bottom: 30px;
    }
}

.footer-column {
    @include column;
    @include media-small-desktop {
        position: relative;
    }
    @include media-tablet {
        display: none;
    }
}

.footer-column_tablet {
    display: none;
    @include media-tablet {
        display: flex;
        justify-content: space-between;
    }
}
