.layout-2-column {
    @include column;
}

.layout-3-column {
    @include column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}

.layout-5-column {
    @include column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 60px;
}

.layout-4-column {
    @include column;
    gap: 30px;
    padding-bottom: 21px;
    >* {
        flex-basis: 23.1%;
    }
}
